#main {
    background-color: rgba(128, 128, 128, 0.404);
    font-family: 'Fondamento', cursive;
}

#title {
    color:black;
    text-align: center;
}

#img-div {
    text-align: center;
    margin: 20px;
}

#img {
    border-radius: 50%;
    border: goldenrod solid 5px;
    width: 50%;
    margin: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

@media only screen and (min-width: 800px) {
    #img {
        width: 40%
    }
}

@media only screen and (min-width: 1000px) {
    #img {
        width: 25%;
    }
}

@media only screen and (min-width: 1200px) {
    #img {
        width: 15%;
    }
}

#img-caption {
    color:rgb(112, 111, 111);
    text-align: center;
}

#tribute-info {
    color: black;
}

#tribute-link {
    text-decoration: none;
}

#card {
    background-color: rgba(245, 245, 245, 0.801); 
    margin: 20px;
    border: goldenrod solid 5px;
    border-radius: 2.5%;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}



